    </div>

    <script src="/vendor/ubold/assets/js/detect.js"></script>
    <script src="/vendor/ubold/assets/js/fastclick.js"></script>
    <script src="/vendor/ubold/assets/js/jquery.slimscroll.js"></script>
    <script src="/vendor/ubold/assets/js/jquery.blockUI.js"></script>
    <script src="/vendor/ubold/assets/js/waves.js"></script>
    <script src="/vendor/ubold/assets/js/wow.min.js"></script>
    <script src="/vendor/ubold/assets/js/jquery.nicescroll.js"></script>
    <script src="/vendor/ubold/assets/js/jquery.scrollTo.min.js"></script>

    <script src="/vendor/ubold/assets/js/jquery.core.js"></script>
    <!-- <script src="/vendor/ubold/assets/js/jquery.app.js"></script> -->
    <script src="/javascripts/progress.js"></script>
  </body>
</html>
