<%- include('header') %>
  <div id="vision">
    <div class="row">
      <button>Submit</button>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $('button').click(function() {
        var url = '//api.flickr.com/services/rest/?method=flickr.photos.search&api_key=a828a6571bb4f0ff8890f7a386d61975&sort=interestingness-desc&per_page=9&format=json&callback=jsonFlickrApi&tags='+tag;
      });
    });
  </script>
<%- include('footer') %>
